<div class="container">
  <div class="cj-box">
    <h2><%= @ld.title %>现场抽奖，赢取<span style="color:red;"><%= @prize.name %></span></h2>
    <div class="cj-users">
      <p class="subtitle">抽奖人员如下</p>
      <div class="row" id="user-icons">
        <% @users.each_with_index do |user,index| %>
        <div class="col-md-2 col-sm-3 col-xs-4 img-box">
          <div class="thumbnail">
            <img src="<%= user.auth_profile.headimgurl %>" data-index="<%= index %>">
            <h3><%= user.auth_profile.nickname %></h3>
          </div>
          
        </div>
        <% end %>
      </div>
    </div>
    <p class="cj-buttons"><button type="button" class="btn btn-lg btn-primary" id="cj-button">开始抽奖</button></p>
  </div>
</div>

<% content_for :scripts do %>
<script>
  $('#cj-button').click(function() {
    $('#user-icons').addClass('cj-user-icons');
    
    var imgs = $('#user-icons img');
    for (var i = 0; i < imgs.length; i++) {
      var img = imgs[i];
      var index = parseInt(img.data('index'));
      console.log(index);
      var deg = index * 36;
      img.style.transform = "rotateY(" + deg + "deg) translateZ(350px)";
    }
  });
</script>
<% end %>