<div class="container">
  <div class="cj-box">
    <h2><%= @ld.title %>现场抽奖，赢取<span style="color:red;"><%= @prize.name %></span></h2>
    <div class="cj-users">
      <p class="subtitle">抽奖人员如下</p>
      <div class="row">
        <% @users.each_with_index do |user,index| %>
        <div class="col-md-2 col-sm-3 col-xs-4 img-box">
          <div id="uicon-<%= index %>">
            <img src="<%= user.auth_profile.headimgurl %>" data-index="<%= index %>" class="uicon">
            <p><%= user.auth_profile.nickname %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <p class="cj-buttons"><button type="button" class="btn btn-lg btn-primary" id="cj-button">开始抽奖</button></p>
  </div>
</div>

<% content_for :scripts do %>
<script>
  var shakeTimer;
  var currentIndex = -1;
  
  $('#cj-button').click(function() {
    var val = $('#cj-button').data('starting');
    if (val == '1') {
      $('#cj-button').data('starting', '0');
      $('#cj-button').text('开始抽奖');
      
      if (shakeTimer) {
        clearInterval(shakeTimer);
      }
      
      if (currentIndex != -1) {
        $('#uicon-' + currentIndex).fadeIn(100);
      }
      
      // 开始抽奖
      $.ajax({
        url: '/wx/cj/start',
        type: 'POST',
        data: { id: '<%= @ld.uniq_id %>' },
        success: function(data) {
          
        },
        error: function(error) {
          
        }
        
      });
    } else {
      $('#cj-button').data('starting', '1');
      $('#cj-button').text('停止抽奖');
      
      // 开启抽奖动画
      clearInterval(shakeTimer);
      
      shakeTimer = setInterval(function() {
        if (currentIndex != -1) {
          $('#uicon-' + currentIndex).fadeIn(100);
        }
        
        var size = parseInt('<%= @users.size %>');
        var index = Math.round(Math.random() * size );
        if (index != currentIndex) {
          currentIndex = index;
          $('#uicon-' + index).fadeOut(100);
        }
        
      }, 200);
    }
  });
</script>
<% end %>